main
{
    position: relative;
}

#images-preview
{
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: absolute;
    top: 80px;
    left: 100px;
}

#images-preview img
{
    max-height: 80px;
    max-width: 80px;
    cursor: pointer;
}

#image-bigview
{
    width: 610px;
    position: absolute;
    top: 80px;
    left: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-bigview img
{
    max-width: 610px;
    max-height: 510px;
}

#product-properties
{
    position: absolute;
    left: 930px;
    top: 80px;
    max-width: 300px;
}

#product-brand
{

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
    display: flex;
    align-items: center;

    color: #1D1F22;
}

#product-name
{
    margin-top: 16px;
    margin-bottom: 43px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #1D1F22;
}

.product-attr
{
    margin-top: 24px;
}

.product-attr-title
{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1D1F22;
}

.product-attr-select
{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.product-attr-select *
{
    width: 63px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1D1F22;
    box-sizing: border-box;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #1D1F22;
    cursor: pointer;
}

.product-color-select
{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    height: 32px;
    gap: 10px;
}

.product-color-select *
{
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.selected-color
{
    outline: 1px solid #5ECE7B;
    outline-offset: 1px;
}

.selected-attr
{
    color: white;
    background: #1D1F22;
    border: 1px solid #1D1F22;
}

#product-price
{
    margin-top: 36px;
}

#product-price-title
{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #1D1F22;
}

#product-price-value
{
    height: 46px;
    margin-top: 10px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 18px;

    display: flex;
    align-items: center;

    color: #1D1F22;
}


#add-to-cart
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 32px;
    height: 52px;
    box-sizing: border-box;
    text-transform: uppercase;
    background: #5ECE7B;
    color: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    cursor: pointer;
    margin-top: 20px;
}

#product-description
{
    margin-top: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 159.96%;
}