#cart
{
    display: flex;
    align-items: center;
    cursor: pointer;
}

#cart-overlay
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 16px;
    gap: 32px;

    position: absolute;
    width: 325px;
    height: 677px;
    top: 78px;
    z-index: 2;
    background: #000000;
}