main{
    width: 1440px;
    height: auto;
    position: relative;
}


#category
{
    position: absolute;
    height: 68px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 160%;
    /* --c-text */

    color: #1D1F22;
    left: 101px;
    top: 80px;
}

#products
{
    position: absolute;
    top: 251px;
    left: 50%;
    transform: translate(-50%, -0%);
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto;
}