.product-attr
{
    margin-top: 24px;
    z-index: 3;
}

.product-attr-title
{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1D1F22;
}

.product-attr-select
{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.product-attr-select *
{
    width: 63px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1D1F22;
    box-sizing: border-box;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #1D1F22;
    cursor: pointer;
}

.product-color-select
{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    height: 32px;
    gap: 10px;
}

.product-color-select *
{
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.selected-color
{
    outline: 1px solid #5ECE7B;
    outline-offset: 1px;
}

.selected-attr
{
    color: white !important;
    background: #1D1F22 !important;
}

.overlay-product-attr-title
{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #1D1F22;
    margin-top: 8px;
}

.overlay-product-color-select
{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 8px;
}

.overlay-product-color-select *
{
    width: 16px;
    height: 16px;
    margin-left: 2px;
}

.overlay-product-attr-select
{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 8px;
}

.overlay-product-attr-select *
{
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #1D1F22;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #1D1F22;
}