.product
{
    width: 386px;
    height: 444px;
    position: relative;
    padding: 16px;
    margin-left: 40px;
    box-sizing: border-box;
    cursor: pointer;
}

.product:hover
{
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.product-image
{
    width: 354px;
    height: 330px;
}

.product-title
{
    width: 354px;
    height: 29px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    /* identical to box height, or 29px */

    display: flex;
    align-items: center;

    /* --c-black */

    color: #1D1F22;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.product-price
{
    width: 58px;
    height: 29px;

    /* --price-regular-font */

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    /* identical to box height, or 29px */

    text-align: left;

    /* --c-black */

    color: #1D1F22;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}


.product-add-to-cart
{
    position: absolute;
    top: 320px;
    right: 31px;
    display: none;
    background-color: var(--c-primary);
    width: 52px;
    height: 52px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.product-add-to-cart img
{
    pointer-events: none;
}

.product:hover .product-add-to-cart
{
    display: flex;
}