body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  padding-left: calc(100vw - 100%);
  overflow-y: overlay;
}

#root
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

*{
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a
{
  text-decoration: none;
}

main
{
  padding: 80px 100px;
  z-index: 3;
  background-color: #FFFFFF;
}


.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.blackout
{
  background: rgba(57, 55, 72, 0.22);
}

#blackout-background
{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: calc(100vh - 80px);

}

#blackout-overlay
{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
  top: 0;
  left: 0;
}